$green: #2fbb4f;
$dark: #24292d;

$light: #2b3137;
$lightFilter: invert(16%) sepia(10%) saturate(788%) hue-rotate(169deg) brightness(94%) contrast(90%);

$blue: #0d74e7;
$blueFilter: invert(33%) sepia(67%) saturate(4299%) hue-rotate(201deg) brightness(96%) contrast(90%);

$white: #ffffff;
$lightWhite: #cacaca;
$whiteFilter: brightness(0) invert(1);
